<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/product-list-page" (click)="goback()">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav> -->
<a routerLink="/product-list-page" (click)="goback()">Home</a> / Library
<section id="prodetails" class="section-p1">
  <div class="image">
    <app-image></app-image>
  </div>
  <div class="details">
    <app-product-details></app-product-details>
  </div>
</section>
