<body>
  <header>
    <input type="checkbox" name="" id="chk1" />
    <div class="logo"><img src="../../../../assets/images/image.PNG" alt="Cognizant" class="responsive"></div>
    <app-search ></app-search>
    <ul> 
        <a href="#"><img src="../../../../assets/images/user.svg"  class="image"   alt=""></a>
        <a ><img src="../../../../assets/images/cart.svg"  class="image" alt=""><sup class="count"><span class="num">{{count}}</span></sup></a>
    </ul>
    <div class="menu">
      <label for="chk1">
        <img src="../../../../assets/images/menubar.PNG" alt="">
      </label>
    </div>  
  </header>
  <app-navbar></app-navbar>
</body>