* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body {
  background-size: cover;
  height: 22vh;
  background-position: center;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  background-color: #fff;
}
#chk1 {
  display: none;
}
i {
  color: #222;
  cursor: pointer;
}
header .logo {
  flex: 1;
  margin: auto;
}
header app-search {
    flex: 0.8;
    position: relative;
  }
header ul {
  flex: 0.3;
  display: flex;
  justify-content:center;
}
.responsive{
  width: 50%;
}
header ul  a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}
header ul a:hover {
  border-bottom: 2px solid cadetblue;
}
header .menu {
  display: none;
}
.image{
    width: 30px;
}
.count{
  width: 20px;
  height: 20px;
  color: red;
  font-weight: bolder;
}
@media (max-width: 1000px) {
  header ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background:  rgba(255, 255, 255,1);
    height: calc(100vh - 100px);
    width: 40%;
    align-items: center;
    transition: right 0.5s linear;
    justify-content: center;
    box-shadow: -6px 6px 50px 10px grey;
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  header .menu {
    display: block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
  }
  #chk1:checked ~ ul {
    right: 0;
  }
}
@media (max-width: 600px) {
  .responsive {
    width: 100%;
  }
  header .logo{
   flex: 0.6;
  }
  header app-search {
   width: auto;
  } 
  header .menu{
    flex: 0.2;
  }
}